.totalhours
{
    margin-top:3vh;
    background-color: lightgrey !important;
    width: 100%;
    height: 6vh;
}
.totalhours > p
{
    float:right;
    font-size: larger;
    margin-top:1vh
}
.btmw
{
    color:darkorange;
    background-color: none;
    border: 0;
}