.inputfield
{
  margin-top: 2vh;
  background-color: lightgray;
  padding: 3vh;
}
.button-group
{
  margin-top:3vh !important;
  margin-left:4vh;
}
.leftm
{
  margin-left:3vh;
} 
.margins
{
  padding: 0vh 3vh !important;
}
.buttongr
{
  margin-left: 50vh !important;
  margin-top: 1vh;
  display: inline-flex;
  flex-direction: row;
}
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    /* -webkit-print-color-adjust: exact; */
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}