.inputgroup
{
    margin-bottom: 5vh;
    background-color: lightgrey;
    padding: 6vh;
}
.margins
{
  margin-left:30px !important;
}
.button-group
{
  margin-top:3vh !important;
  margin-left:4vh;
}
.leftm
{
  margin-left:3vh;
}