.boje
{
    color: red;
    background-color: blue;
}
.link-decor
{
    text-decoration: none;
    color: grey !important;
}
.navlink
{
    background-color: #DCDCDC !important;
    border: 0.5px solid grey !important;
    border-radius: 0;
}
.margin
{
    margin-top: 3vh;
}
.loginform
{
    width: 50vh;
    margin-top: 30vh;
}
.navlink.active
{
    background-color: white !important;
    color:orange !important;
}
.loghover:hover
{
    color:orange !important; 
}

