.boje
{
    color: red;
    background-color: blue;
}
.link-decor
{
    text-decoration: none;
    color: orange !important;
}
.navlink
{
    background-color: white !important;
    border: 0.5px solid black !important;
}
.margin
{
    margin-top: 5vh;
}
.loginform
{
    width: 50vh;
    margin-top: 30vh;
}